.wrapper {
    min-height: 100vh;
    padding: 4rem 0;
    text-align: center;
    font-family: Inter, "sans-serif";
    background-color: white;
    --first-gr-colors: rgb(0, 124, 240), rgb(0, 223, 216);
    --second-gr-colors: rgb(121, 40, 202), rgb(255, 0, 128);
    --third-gr-colors: rgb(216, 181, 255), rgb(30, 174, 152);
}

.wrapper img {
    width: 90%;
    max-width: 50rem;
    object-fit: cover;
    margin: 4rem 0;
}

@media (min-width: 1269px) {
    /* .wrapper {
        margin-left: 3%;
        margin-right: 3%;
    } */
}
