.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    max-width: 30rem;
    width: 80%;
    height: 30rem;
    margin: 10vh auto;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    color: purple;
    background-color: rgba(255, 255, 255, 0.9);
}

.wrapper h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.wrapper > p > button {
    border: none;
    background-color: transparent;
    font: inherit;
    color: var(--primary-color);
}

.submit {
    height: 3rem;
    width: 80%;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font: bold 1.1em Roboto, sans-serif;
    cursor: pointer;
}

.error {
    color: var(--error-color);
    font-weight: bold;
}
