.container {
    color: hsl(0, 0%, 10%);
    font: 1.15rem/1.5 "Roboto", sans-serif;
    width: 100%;

    word-break: break-word;

    position: relative;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0;
    align-items: center;
}

.container h4 {
    font: 500 1.33rem "Roboto", sans-serif;
    margin-bottom: 0.28rem;
    color: hsl(0, 3%, 30%);
}

.container p {
    color: var(--text-color);
    font: 1.2rem "Open Sans", sans-serif;
}

p.error {
    font-weight: bold;
    color: var(--error-color);
}

.item {
    padding: 1.69rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;

    font: 1rem "Open Sans", sans-serif;
}

.header_item {
    padding: 1.5rem 1rem;
    text-align: center;
    font: 500 1.1rem "Roboto", sans-serif;
    background-color: hsl(0, 0%, 93%);
    color: hsl(0, 0%, 47%);
    text-transform: uppercase;
}

.controls {
    display: flex;
    justify-content: flex-start;
    column-gap: 2.28rem;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    padding-top: 0.25rem;
}

.controls button {
    color: #3e4247;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 1rem;

    display: flex;
    align-items: center;
}

.controls button:hover {
    color: hsl(0, 0%, 10%);
}

@media (min-width: 769px) {
    .container:not(:last-child) .item {
        border-bottom: 1px solid #999;
    }
}

@media (max-width: 769px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .container:not(:last-child) .item:nth-child(n + 5):nth-child(-n + 6) {
        border-bottom: 1px solid #999;
    }
}
