.applications {
    margin-top: 2rem;
}
.application {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 1rem;

    align-items: center;

    border: 1px solid #999;
    padding: 1rem 5%;
    border-radius: 12px;
}

.application h3 {
    font: 1.5rem "Roboto", sans-serif;
    margin: 0;
}

.application p {
    font: 1.3rem "Open Sans", sans-serif;
}

.controls {
    display: flex;
    justify-content: space-around;
}

.controls button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

.accept {
    color: green;
}
.accept:hover {
    color: #0f0;
}
.reject {
    color: rgb(255, 0, 0);
}
.reject:hover {
    color: hsl(0, 100%, 80%);
}

.show-toggler {
    color: white;
    background-color: var(--primary-color);
    border-width: 0;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    width: max-content;
    display: flex;
    justify-items: space-between;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    outline-color: transparent;
    font: 1.05rem Roboto, sans-serif;

    margin: 1.69rem auto;
}

@media (max-width: 769px) {
    .application {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: 0.5rem;
    }

    .application h3 {
        align-self: center;
        margin-bottom: 1rem;
    }

    .controls {
        align-self: center;
        width: 50%;
    }
}
