.projects {
    width: 80%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 80%;
    background-color: white;
    border-radius: 4px;
    margin-top: 4rem;
}

.project {
    width: 100%;
    border: 1px solid #ccc;
    padding: 1.5rem 7%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roles-container {
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.roles-container span {
    background-color: #e1effe;
    color: #3758ab;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 0.5rem;
    flex-basis: calc(100% / 3.5);
    margin-top: 1rem;
    font-weight: bold;
    white-space: nowrap;
}

.left-side h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.left-side span {
    font: bold 1.2rem "Roboto", sans-serif;
    background-color: rgba(102, 102, 102, 0.1);
    margin-bottom: 1rem;
    display: block;
    width: max-content;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

.right-side {
    width: 70%;
}

@media (max-width: 767px) {
    .roles-container span {
        flex-basis: calc(100%);
    }

    .project {
        flex-direction: column;
    }

    .left-side {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        align-items: center;
    }

    .left-side h3 {
        font-size: 1.1rem;
    }

    .roles-container span {
        font-size: 0.8rem;
    }
}
