.roles-container {
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.centerize {
    width: 100%;
    justify-content: center;
}

.roles-container span {
    background-color: #e1effe;
    color: #3758ab;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 0.5rem;
    flex-basis: calc(100% / 3.5);
    margin-top: 1rem;
    font-weight: bold;
    white-space: nowrap;
}

@media (max-width: 767px) {
    .roles-container span {
        flex-basis: calc(100%);
        font-size: 0.9rem;
    }
}
