.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.card img {
    border-radius: 50%;
    height: 169px;
    width: 169px;
}

.card h4 {
    font-size: 1.2rem;
}

.card p {
    color: #777;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}
