:root {
    font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;

    --background-color: rgb(247, 247, 247);
    --text-color: rgb(17, 24, 39);
    --primary-color: #673ab7;
    --error-color: #ff1744;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
