:root {
    font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;

    --background-color: rgb(247, 247, 247);
    --text-color: rgb(17, 24, 39);
    --primary-color: #673ab7;
    --error-color: #ff1744;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.dashboard_header {
    text-align: center;
    font: bold 2rem "Open Sans", sans-serif;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.141);
}

.dashboard_wrapper {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.error {
    text-align: center;
    font: bold 1.5rem "Open Sans", sans-serif;
    color: var(--error-color);
    margin: 1.5rem 0;
}
